@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;

}


body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-image: url('pic/background1.png');
    background-size: 460px;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-image: url('pic/background.png');
    background-size: 460px;
    background-position: top right;
    background-repeat: no-repeat;


    z-index: -1;
    opacity: 1;
}

.mobile-container {
    width: 100%;
    max-width: 1000px;
    background-color: #121212;
    min-height: 100vh;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.2);
    position: relative;
    padding-bottom: 80px;
}

/* --- 2. HEADER ส่วนหัว --- */
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(140deg, #121212, #2e2e2e, #121212);
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #333;
}

.brand-logo {
    font-size: clamp(12px, 24px, 32px);
    white-space: nowrap;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}

.brand-logo span {
    color: #C69C6D;
    font-size: clamp(12px, 24px, 32px);
    white-space: nowrap;
    /* สีทองกาแฟ */
}

.queue-box {
    background: #1E1E1E;
    padding: 5px 12.5px;
    border-radius: 50px;
    border: 1px solid #C69C6D;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

.queue-label {
    font-size: clamp(10px, 12px, 32px);
    white-space: nowrap;
    color: #aaa;
    margin-right: -10px;
}

.queue-number {
    font-size: 18px;
    font-weight: bold;
    color: #C69C6D;
}

.status-bar {
    background: linear-gradient(90deg, #2c2c2c, #1a1a1a);
    margin: 15px;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 4px solid #4CAF50;
}

.status-text h4 {
    margin: 0;
    font-size: 16px;
}

.status-text p {
    margin: 3px 0 0;
    font-size: 12px;
    color: #aaa;
}

.status-icon {
    font-size: 20px;
}

.nav-menu {
    display: flex;
    overflow: auto;
    padding: 2.5px 12.5px;
    gap: 7.5px;
    scrollbar-width: none;
    text-transform: uppercase;
    flex-direction: row;
    max-width: 1140px;
    margin-right: 30px;
    margin-left: 30px;
}

.category-scroll::-webkit-scrollbar {
    display: none;
}

.cat-btn {
    background: #252525;
    color: #aaa;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

.cat-btn.active {
    background: linear-gradient(90deg, #C69C6D, #d6bea6, #C69C6D);
    color: #000;
    font-weight: bold;
}

/* --- 5. MENU GRID (รายการอาหาร แบบใหม่) --- */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 15px;
    padding: 15px;
}

.menu-item {
    background: #000000;
    border-radius: 16px;
    padding: 12px;
    position: relative;
    transition: transform 0.2s;
}

.menu-item:active {
    transform: scale(0.88);
}

/* ป้ายยอดนิยม (แก้ให้เข้ากับธีมดำ) */
.badge-pop {
    position: absolute;
    top: 0;
    left: 0;
    background: #D32F2F;
    /* แดงเข้ม */
    color: white;
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 16px 0 16px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

@media (hover: hover) {
    .menu-img:hover {
        transform: scale(1.05);
        position: relative;
        transition: transform 0.2s;
    }
}

.menu-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    /* ตัดภาพให้พอดี */
    border-radius: 12px;
    margin-bottom: 10px;
    /* ทำให้ภาพดูสว่างขึ้นนิดหน่อยบนพื้นดำ */
    filter: brightness(0.9);
    position: relative;
    transition: transform 0.2s;
}

.menu-info {
    text-align: left;
}

.menu-name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #eee;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* ตัดคำถ้ายาวเกิน 1 บรรทัด */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.menu-price {
    font-size: 16px;
    font-weight: bold;
    color: #C69C6D;
    /* ราคาสีทอง */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    background: #333;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

/* --- Banner โปรโมชั่น --- */
.promo-banner {
    margin: 15px;
    height: 350px;
    border-radius: 16px;
    position: relative;

    overflow: hidden;
    box-shadow: 0 0px 2.5px rgba(0, 0, 0, 0.5);

}

/* เงาดำทับรูปเพื่อให้ตัวหนังสืออ่านง่าย */
.promo-overlay {
    font-size: clamp(12px, 20px, 32px);
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.promo-overlay span {
    font-weight: bold;
    color: #C69C6D;

}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* ชิ้นงานแต่ละสไลด์ */
.slide-item {
    object-fit: cover;
    object-position: center center;
    min-width: 100%;
    max-height: 350px;
    position: relative;
}

.slide-item img {
    object-fit: cover;
    object-position: center center;
    min-width: 100%;
    max-height: 350px;
}

.slide-item:nth-of-type(1) img {
    min-height: 100%;
    object-position: center;

}

.slide-item:nth-of-type(2) img {
    object-position: center 82%;
}

.slide-item:nth-of-type(3) img {
    object-position: center 35%;

}

/* ข้อความบนภาพ (Overlay) */
/* ปุ่มลูกศร */
.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #C69C6D;
    /* สีทอง */
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: 0.3s;
}

.slider-arrow:hover {
    background-color: #C69C6D;
    color: white;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/* จำลองหน้าจอมือถือ */
@media screen and (max-width: 1000px) {

    body {
        margin: 0;
        padding: 0;
        font-family: 'Kanit', sans-serif;
        background-color: #161616;
        color: #ffffff;
        display: flex;
        justify-content: center;
        min-height: 100vh;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
        background-image: url('pic/background1.png');
        background-size: 460px;
        background-position: top left;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: 1;
    }

    body::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 25%;
        height: 100%;
        background-image: url('pic/background.png');
        background-size: 460px;
        background-position: top right;
        background-repeat: no-repeat;


        z-index: -1;
        opacity: 1;
    }

    .mobile-container {
        width: 100%;
        max-width: 600px;
        background: linear-gradient(40deg, #121212, #121212, #525151, #2c2c2c, #121212, #121212);
        min-height: 100vh;
        box-shadow: 0 0 20px rgba(50, 50, 50, 0.2);
        position: relative;
        padding-bottom: 80px;
        /* เผื่อพื้นที่ด้านล่าง */
    }

    /* --- 2. HEADER ส่วนหัว --- */
    .header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #121212;
        position: sticky;
        top: 0;
        z-index: 100;
        border-bottom: 1px solid #333;
        width: 100%;
        box-sizing: border-box;
    }

    .brand-logo {
        font-size: clamp(10px, 25px, 32px);
        font-weight: 900;
        letter-spacing: 2px;
        color: #ffffff;
        text-transform: uppercase;
        flex-shrink: 0;
    }

    .brand-logo span {
        color: #C69C6D;
        font-weight: 900;
    }

    .queue-box {
        background: #1E1E1E;
        padding: 5px 15px;
        border-radius: 50px;
        border: 1px solid #C69C6D;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-left: auto;
        flex-shrink: 0;
        white-space: nowrap;
    }

    .queue-label {
        font-size: 15px;
        color: #aaa;
    }

    .queue-number {
        font-size: 18px;
        font-weight: bold;
        color: #C69C6D;
    }

    /* --- 3. STATUS BAR (สถานะออเดอร์) --- */
    .status-bar {
        background: linear-gradient(90deg, #2c2c2c, #1a1a1a);
        margin: 15px;
        padding: 15px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: 4px solid #4CAF50;
        /* สีเขียวบอกว่ากำลังทำ */
    }

    .status-text h4 {
        margin: 0;
        font-size: 16px;
    }

    .status-text p {
        margin: 3px 0 0;
        font-size: 12px;
        color: #aaa;
    }

    .status-icon {
        font-size: 20px;
    }

    /* --- 4. MENU CATEGORY (หมวดหมู่) --- */
    .category-scroll {
        /* margin-left: -2500px; */
        position: flex;
        display: flex;
        overflow: auto;
        padding: 10px 15px;
        gap: 12px;
        scrollbar-width: none;
        /* ซ่อน Scrollbar */
        text-transform: uppercase;
        flex-direction: row;

    }

    .category-scroll::-webkit-scrollbar {
        display: none;
    }

    .cat-btn {
        background: #252525;
        color: #aaa;
        padding: 8px 20px;
        border-radius: 20px;
        font-size: 14px;
        white-space: nowrap;
        border: 1px solid transparent;
        cursor: pointer;
        transition: 0.3s;
    }

    .cat-btn.active {
        background: #C69C6D;
        color: #000;
        font-weight: bold;
    }

    /* --- 5. MENU GRID (รายการอาหาร แบบใหม่) --- */
    .menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* แบ่ง 2 คอลัมน์ */
        gap: 15px;
        padding: 15px;
    }

    .menu-item {
        background: #000000;
        border-radius: 16px;
        padding: 12px;
        position: relative;
        transition: transform 0.2s;
    }

    .menu-item:active {
        transform: scale(0.88);
    }

    /* ป้ายยอดนิยม (แก้ให้เข้ากับธีมดำ) */
    .badge-pop {
        position: absolute;
        top: 0;
        left: 0;
        background: #D32F2F;
        /* แดงเข้ม */
        color: white;
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 16px 0 16px 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    .menu-img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        /* ตัดภาพให้พอดี */
        border-radius: 12px;
        margin-bottom: 10px;
        /* ทำให้ภาพดูสว่างขึ้นนิดหน่อยบนพื้นดำ */
        filter: brightness(0.9);
    }

    .menu-info {
        text-align: left;
    }

    .menu-name {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
        color: #eee;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* ตัดคำถ้ายาวเกิน 1 บรรทัด */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .menu-price {
        font-size: 16px;
        font-weight: bold;
        color: #C69C6D;
        /* ราคาสีทอง */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .add-btn {
        background: #333;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }

    /* --- Banner โปรโมชั่น --- */
    .promo-banner {
        margin: 15px;
        height: 200px;
        background-color: #333;
        border-radius: 16px;
        position: relative;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scolling: touch;
        overflow-y: hidden;
                
    }

    .promo-banner::-webkit-scrollbar {
        display: none;
    }

    /* เงาดำทับรูปเพื่อให้ตัวหนังสืออ่านง่าย */
    .promo-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .slide-item {
        flex: 0 0 100%;
        position: relative;
        scroll-snap-align: center center;
        scroll-snap-stop: always;
        border-radius: 16px;
    }

    .slide-item img {
        object-fit: cover;
        object-position: center ;
        width: 145px;
        height: 100%;
        display: block;
        border-radius: 16px;
    }

    .slide-item:nth-of-type(1) img {object-position: center;}
    .slide-item:nth-of-type(2) img {object-position: center 82%;}
    .slide-item:nth-of-type(3) img {object-position: center 35%; position: right;}

    .prev {
        display: none;
    }

    .next {
        display: none;
    }
}

@media screen and (max-width: 380px) {

    .queue-label {
        display: none;
    }
    
    .queue-box {
        gap: 0;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 400px) {

        .brand-logo {
        font-size: 22.5px;
        }
        .brand-logo span {
        font-size: 22.5px;
        }
    .queue-box {
        padding: 5px 10px;
    }
}